@import "./solarplanets/solar-container";
@import "./solarplanets/planetdetails.scss";

// start
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
