@import "../modules/functions";
@import "../modules/variables";

body::-webkit-scrollbar {
  width: 10px;
  height: 10px; /* width of the entire scrollbar */
}
body {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar-track {
  background: transparent;

  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #1d2731;
  border-radius: 20px;

  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.2);
}

.planet-details {
  overflow: hidden;
  margin-top: 50px;
  .planet-wrapper {
    padding-bottom: 100px;
    .planetimage {
      width: 100%;
      display: flex;
      justify-content: center;
      @include mq("max", "652px") {
        justify-content: flex-end;
      }
      // @include mq("max", "484px") {
      //   justify-content: flex-start;
      // }
      // filter: blur(2px);
      // -webkit-filter: blur(2px);
      .pi-wrapper {
        width: 35%;
        @include mq("max", "484px") {
          width: 200px;
          z-index: 10;
        }
        @include mq("max", "652px") {
          z-index: 10;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .planetListArticle {
      padding: 50px;

      @include mq("max", "484px") {
        padding: 30px;
        margin-top: 120px;
      }
      @include mq("max", "375px") {
        padding: 30px;
        margin-top: 130px;
      }
      // this is article
      display: flex;
      flex-direction: column;
      background-color: #1d2731;
      h2 {
        font-size: 4em;
        text-align: center;
        color: $secondary-color;
        @include mq("max", "724px") {
          font-size: 3em;
        }
        @include mq("max", "484px") {
          text-align: left;
          font-size: 2em;
        }
      }
      h3 {
        // margin-top: 10px;
        font-size: 2.5em;
        padding: 50px;
        color: $secondary-color;
        font-weight: bold;
        @include mq("max", "724px") {
          font-size: 1.5em;
          padding: 20px;
        }
        @include mq("max", "484px") {
          padding: 0px;
          font-weight: 200;
          font-size: 1.6em;
        }
      }
      p {
        color: $primary-color;
        font-family: $bold-fonts;
        // margin-top: 10px;
        font-size: 1.2em;
        padding: 50px;
        font-weight: 400;
        @include mq("max", "724px") {
          font-size: 1em;
          padding: 20px;
        }
        @include mq("max", "484px") {
          padding: 0px;
          font-weight: 200;
        }
      }
      .dropCaps {
        font-size: 5em;
        color: #73558f;
        @include mq("max", "724px") {
          font-size: 3em;
        }
      }
    }
  }
}
