$primary-color: #dee7ee;
$secondary-color: #eff2f7;

$buttons-color: #acb8cc;

$font-color: #71829e;
$light-font: #71829e;

$typing-color: #a6b4ba;

$background-color: #1d2731;

$dark-color: #24292e;

$bold-fonts: "Lexend Deca", sans-serif;
$soft-fonts: "Roboto", sans-serif;
